{% extends "articles/base.html" %}

{% block content-main %}
    <div class="container main-container d-flex mx-auto">

        {% include "inclusion/sidebar.html" %}

        <section class="main-content">

            <div class="row">
                <div class="col-sm-12 col-lg-10 mx-auto">
                    <form class="article-search d-flex" type="GET" action="{% url 'article-search' %}">
                        <input name="q" class="form-control me-2" type="search" placeholder="{{ request.GET.q }}" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="articles-container col-lg-10 col-md-12 mx-auto">

                    {% if not articles %}
                    <h2>No articles matching your query</h2>
                    {% endif %}

                    {% for article in articles %}
                    <article class="article p-3">
                        <div class="article-preview-author d-flex align-items-center mb-3">
                            <img class="article-author-avatar rounded-circle"
                                src="{{ article.author.profile.image.url }}" alt="Article author's image" />
                            <a href="#" class="article-author-name">{{ article.author }}</a>
                            <span class="article-preview-date mx-3">{{ article.created_at|date:'h:m d.m.Y' }}</span>
                        </div>

                        <hr>

                        <div class="article-preview-main">
                            <h3 class="article-title mb-4">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </h3>
                            {% if article.category %}
                                <h5 class="article-category">Category: <a href="{% url 'article-category' article.category.slug %}">{{ article.category }}</a></h5>
                            {% endif %}
                            {% if article.tags.all %}
                            <ul class="article-tags-list"><span class="tags-span">Tags: </span>
                                {% for tag in article.tags.all %}
                                <li><a class="article-tag-link" href="{% url 'article-tag' tag %}">#{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="article-preview-content">
                                {% if article.preview_image %}
                                <img class="img-fluid mx-auto article-preview-image" src="{{ article.preview_image.url }}"
                                    alt="Article preview image">
                                {% endif %}
                                <p class="article-preview-text mt-3">
                                    {{ article.preview_text }}
                                </p>

                                <hr>

                                <div class="article-preview-bottom d-flex justify-content-between align-items-center">
                                    <a href="{{ article.get_absolute_url }}" class="btn btn-success">Read full</a>

                                    <span class="article-preview-icons">
                                        <span class="mx-2 article-preview-icons__item">
                                            <i class="far fa-eye m-1"></i>
                                            <span class="article-preview-icon-counter">
                                                {% if article.views_count > 0 %}
                                                {{ article.views_count }}
                                                {% else %}
                                                No views
                                                {% endif %}
                                            </span>
                                        </span>
                                        <span class="mx-2 article-preview-icons__item">
                                            <i class="far fa-thumbs-up m-1"></i>
                                            <span class="article-preview-icon-counter">{{ article.get_likes_count }}</span>
                                        </span>
                                        <span class="mx-2 article-preview-icons__item">
                                            <i class="far fa-regular fa-comment"></i>
                                            <span class="article-preview-icon-counter">{{ article.get_comments_count }}</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>

            <!-- Pagination -->
            {% if paginator.num_pages > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-disabled="true">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for p in paginator.page_range %}
                    {% if p == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} <li class="page-item"><a
                            class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">Last</a></li>
                        {% endif %}
                </ul>
            </nav>
            {% endif %}
        </section>

    </div> <!-- End of container -->
    {% endblock content-main %}