<footer class="bg-dark text-white">
  <div class="container">
    <section class="mb-4 pt-4 text-center">
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.facebook.com">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.google.com">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.instagram.com">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.linkedin.com">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://github.com">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <section class="mt-5">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mx-auto">
          <h5 class="text-uppercase text-center mb-3">Footer text</h5>
          <p class="text-align-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
            ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
            repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
            maxime quis culpa sint!
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="footer-bottom text-center p-3">
    © 2024 Copyright: Django Articles
  </div>
</footer>
