<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Django Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="header-user text-white">
                        {% if request.user.is_authenticated %}
                        <a class="link-green" href="{% url 'article-create' %}">New article</a>
                        <a class="header-user-link" href="{% url 'user-profile' %}">
                            <i class="fas fa-user"></i> {{ request.user.username|truncatechars:30 }}
                        </a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                        {% else %}
                        <a href="{% url 'login' %}">Log in</a>
                        <a href="{% url 'registration' %}">Register</a>
                        {% endif  %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>