<aside class="sidebar">
    <div class="sidebar__inner p-3 bg-dark text-white">
        <h3 class="mb-4">Categories</h3>
        <ul class="categories-list">
            {% for category in categories %}
            {% if category.articles_count > 0 %}
            <li><a href="{% url 'article-category' category.slug %}" {% if selected_category_slug == category.slug %}class="category-selected"{% endif %}>
                {{ category.title }} ({{ category.articles_count }})</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>