{% extends "users/form_base.html" %}
{% load crispy_forms_tags socialaccount %}

{% block form %}
  <form class="user-form" method="post">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <h3 class="mb-2">Create a password</h3>
        <h6 class="fw-bold mb-4">
          (If you don't set the password, you will be able to sign in only
          through the third-party apps like Google)
        </h6>
        {{ form|crispy }}
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-success me-3 mb-3" type="submit">Set password</button>
      <a class="btn btn-secondary mb-3" href="{% url 'articles' %}">
        Continue without password
      </a>
    </div>
  </form>
{% endblock form %}
