{% extends "users/form_base.html" %}

{% load crispy_forms_tags %}

{% block form %}
  <img class="d-block rounded-circle profile-image mx-auto"
       src="{{ user.profile.image.url }}"
       alt="Profile picture">
  <h2 class="text-center mb-5">{{ user.username }}</h2>

  <form class="user-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <legend class="botder-bottom mb-4">Profile Info</legend>
        {{ user_form|crispy }}
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" readonly value="{{ request.user.email }}">
        </div>
        {{ profile_form|crispy }}
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Update</button>
    </div>
  </form>
{% endblock form %}

{% block form-after %}
  <div class="mt-5">
    {% if subscribed_authors %}
      <h4>Your subscriptions ({{ subscribed_authors|length }}):</h4>
      <ul>
        {% for author_username in subscribed_authors %}
          <li>
            <a class="subscription-link link-green"
               href="{% url 'author-page' author_username %}">
              {{ author_username }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h4>Your are not subscribed to any author yet</h4>
    {% endif %}
  </div>
{% endblock form-after %}
