{% load tz %}

<div class="modal fade"
     id="modal"
     tabindex="-1"
     aria-labelledby="modal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="modalTitle">Notifications</h3>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body d-none">
        <div id="notificationsEmpty">No notifications</div>
        <div id="notificationsContainer"
             class="user-notifications-container d-none"></div>
        <div id="notificationsLoading" class="d-none">Loading...</div>
      </div>
      <div class="modal-footer d-none">
        <button id="notificationsLoadMore"
                type="button"
                class="btn btn-outline-secondary btn-sm d-none">
          Load more
        </button>
        <button type="button" class="btn btn-danger p-1" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
